body{
    background-color: rgb(201, 201, 201);
    font-family: "Inria Sans", Verdana, sans-serif;

}


.container1 {
    border: solid 3px rgb(255, 89, 0);
    border-radius: 15px;
    padding: 10px; 
    display: inline-block; 
    background-color: rgb(255, 89, 0);
    color: white;
    width: 450px;
}


span{
    text-decoration: underline;
}

#freepik{
    color: rgb(255, 149, 0);
}

.block-titre{
    text-align: center;
    padding-top: 50px;
    position: relative;
    top: 50px;
}

h2{
    font-size: 20px;
}

.image img {
    width: 100%; 
}

.container2 {
    padding: 20px;
    display: flex;
    width: 70%;
  }

  .container2 > * {
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 0.5em;
    margin: 0 10px;
    flex: 1;
    background-color: white;
}

  i {
    font-size: 50px;
    background-color: rgb(255, 149, 0);
    border-radius: 50%; 
    display: inline-block; 
    padding: 20px; 
}

p{
    padding-bottom: 30px;
}

footer {
    text-align: center;
    background-color: rgb(49, 49, 49);
    margin-top: 30px;
    padding: 20px 0; 
    color: white;
}

